# Sample Config file for OpenText Adaptor
gsa.hostname = <GSA hostname>

# Content Web Services config
# webServicesUrl should be in the form http://<host>[:<port>]/les-services/services
opentext.webServicesUrl = <Base URL for Content Web Services>
opentext.username = <Content Server username>
opentext.password = <Password for Content Server user>

# Start points may include EnterpriseWS and object ids
opentext.src = <List of start points for document retrieval>
opentext.src.separator = ,

# URL for Content Server: http://<host>[:<port>]/OTCS/livelink.exe
opentext.displayUrl.contentServerUrl = <Content Server URL>

# List of node types to exclude; no content will be sent for
# these types. If the type is a container, its contents will not
# be indexed. If a type is one of the following, you must specify
# it using the name listed here: Alias, Category, CategoryFolder,
# Channel, Collection, CompoundDoc, Discussion, Document,
# EnterpriseWS, Folder, Generation, Milestone, News, PersonalWS,
# Project, Reply, Report, Task, TaskGroup, TaskList, Topic, URL,
# WFMap.
#
# Otherwise, you may use the Content Server numeric object type.
opentext.excludedNodeTypes = URL, Alias, WFMap, 384
opentext.excludedNodeTypes.separator = ,
