# Sample Config file for OpenText Adaptor
gsa.hostname = <GSA hostname>

# Content Web Services config
# webServicesUrl should be in the form http://<host>[:<port>]/les-services/services
opentext.webServicesUrl = <Base URL for Content Web Services>
opentext.username = <Content Server username>
opentext.password = <Password for Content Server user>

# Content Server user with administrative privileges; used to
# read ACL information. If the user configured in the
# opentext.username property has administrative privileges, these
# properties are not required.
opentext.adminUsername = <Content Server administrative username>
opentext.adminPassword = <Password for administrative user>

# Start points may include EnterpriseWS and object ids
opentext.src = <List of start points for document retrieval>
opentext.src.separator = ,

# URL for Content Server: http://<host>[:<port>]/OTCS/livelink.exe
opentext.displayUrl.contentServerUrl = <Content Server URL>

# Whether to create a group containing all users who have Public
# Access permission and include that group in the ACL for items
# with Public Access enabled.
opentext.publicAccessGroupEnabled = true|false

# List of node types to exclude; no content will be sent for
# these types. If the type is a container, its contents will not
# be indexed. If a type is one of the following, you must specify
# it using the name listed here: Alias, Category, CategoryFolder,
# Channel, Collection, CompoundDoc, Discussion, Document,
# EnterpriseWS, Folder, Generation, Milestone, News, PersonalWS,
# Project, Reply, Report, Task, TaskGroup, TaskList, Topic, URL,
# WFMap.
#
# Otherwise, you may use the Content Server numeric object type.
opentext.excludedNodeTypes = WFMap, 384
opentext.excludedNodeTypes.separator = ,

# Version to retrieve for versioned nodes:
# 0: current version of standard versioning node; current version
# (major or minor) of major/minor versioning node
# -1: current major version of major/minor versioning node
# -2: current version of standard versioning node; current major version
# of major/minor versioning node
#
# The user configured in opentext.username must have Reserve or
# Delete Versions permissions in order to see minor versions.
opentext.currentVersionType = -2

# List of node features to be included. Use the same rules for
# specifying node types as listed above for excludedNodeTypes.
opentext.includedNodeFeatures.URL = Location

# Actions for object types. The default when no action is
# configured is "properties". Use the same rules for specifying
# node types as listed above for excludedNodeTypes.
# 146 = CustomView
# 218 = Poll
# 384 = Prospector
# 480 = Appearance
# 483 = Appearance Workspace Folder
# 899 = Virtual Folder
opentext.displayUrl.objAction.146 = properties
opentext.displayUrl.objAction.218 = OpenPoll
opentext.displayUrl.objAction.384 = ProspectorBrowse
opentext.displayUrl.objAction.480 = overview
opentext.displayUrl.objAction.483 = browse
opentext.displayUrl.objAction.899 = browse
opentext.displayUrl.objAction.Alias = properties
opentext.displayUrl.objAction.Category = properties
opentext.displayUrl.objAction.Channel = ViewChannel
opentext.displayUrl.objAction.Collection = browse
opentext.displayUrl.objAction.CompoundDoc = browse
opentext.displayUrl.objAction.Discussion = view
opentext.displayUrl.objAction.EnterpriseWS = browse
opentext.displayUrl.objAction.Folder = browse
opentext.displayUrl.objAction.Generation = open
opentext.displayUrl.objAction.Milestone = BrowseMilestone
opentext.displayUrl.objAction.News = ViewNews
opentext.displayUrl.objAction.Project = browse
opentext.displayUrl.objAction.Reply = view
opentext.displayUrl.objAction.Task = BrowseTask
opentext.displayUrl.objAction.TaskGroup = BrowseTaskGroup
opentext.displayUrl.objAction.TaskList = BrowseTaskList
opentext.displayUrl.objAction.Topic = view
