# Sample Config file for the Connector for OpenText
gsa.hostname = <GSA hostname>

# Directory Services config
# If the connector should authenticate against an OpenText
# Directory Services instance, set directoryServicesUrl to the
# web services URL for the instance.
# directoryServicesUrl example: http://<host>:<port>/otdsws/services/
# opentext.directoryServicesUrl = <Base URL for Directory Services>

# Content Web Services config
# IIS webServicesUrl example: http://<host>[:<port>]/cws
# Tomcat webServicesUrl example: http://<host>[:<port>]/cws/services
opentext.webServicesUrl = <Base URL for Content Web Services>

# Content Web Services service URLs have different formats depending on
# the type of server where CWS is installed. When this property
# is left unset, the adaptor will try the IIS format and fall
# back to the Tomcat format if the first attempt fails, allowing
# it to support either installation with no configuration. To
# specify the installation type explicitly, set this property.
# opentext.webServicesServer = IIS | Tomcat

opentext.username = <Content Server username>
opentext.password = <Password for Content Server user>

# Content Server user with administrative privileges; used to
# read ACL information. If the user configured in the
# opentext.username property has administrative privileges, these
# properties are not required.
opentext.adminUsername = <Content Server administrative username>
opentext.adminPassword = <Password for administrative user>

# Start points may include EnterpriseWS and object ids
opentext.src = <List of start points for document retrieval>
opentext.src.separator = ,

# URL for Content Server: http://<host>[:<port>]/OTCS/livelink.exe
opentext.displayUrl.contentServerUrl = <Content Server URL>

# This URL is used for internal connector search and download actions.
# If not specified, opentext.displayUrl.contentServerUrl will be used.
opentext.indexing.contentServerUrl =

# Whether to create a group containing all users who have Public
# Access permission and include that group in the ACL for items
# with Public Access enabled.
opentext.publicAccessGroupEnabled = true|false

# When a non-empty value is specified for opentext.windowsDomain, the value
# is used as domain for all the users and groups with no domain information
# in the system. Default is empty “”.
# opentext.windowsDomain =

# Case-sensitivity for ACLs and group feeds. Possible values are
# everything-case-sensitive and everything-case-insensitive
# Default is everything-case-sensitive.
# adaptor.caseSensitivityType = everything-case-sensitive

# When opentext.pushLocalGroupsOnly value is set to true, only
# local groups are pushed to GSA.
# opentext.pushLocalGroupsOnly = false

# List of node types to exclude; no content will be sent for
# these types. If the type is a container, its contents will not
# be indexed. If a type is one of the following, you must specify
# it using the name listed here: Alias, Category, CategoryFolder,
# Channel, Collection, CompoundDoc, Discussion, Document, Email,
# EmailFolder, EnterpriseWS, Folder, Generation, Milestone, News,
# PersonalWS, Project, Reply, Report, SocialObject, Task,
# TaskGroup, TaskList, Topic, URL, WFMap.
#
# Otherwise, you may use the Content Server numeric object type.
opentext.excludedNodeTypes = WFMap, 223, 230, 384, 480, 30309
opentext.excludedNodeTypes.separator = ,

# Indicates whether to index folders and their metadata or not.
# opentext.indexFolders = true

# Version to retrieve for versioned nodes:
# 0: current version of standard versioning node; current version
# (major or minor) of major/minor versioning node
# -1: current major version of major/minor versioning node
# -2: current version of standard versioning node; current major version
# of major/minor versioning node
#
# The user configured in opentext.username must have Reserve or
# Delete Versions permissions in order to see minor versions.
opentext.currentVersionType = -2

# List of node features to be included. Use the same rules for
# specifying node types as listed above for excludedNodeTypes.
opentext.includedNodeFeatures.URL = Location

# Actions for object types. The default when no action is
# configured is "properties". Use the same rules for specifying
# node types as listed above for excludedNodeTypes.
# 146 = CustomView
# 218 = Poll
# 223 = Form
# 230 = Form Template
# 384 = Prospector
# 480 = Appearance
# 483 = Appearance Workspace Folder
# 899 = Virtual Folder
# 30309 = ActiveView
opentext.displayUrl.objAction.146 = properties
opentext.displayUrl.objAction.218 = OpenPoll
opentext.displayUrl.objAction.384 = ProspectorBrowse
opentext.displayUrl.objAction.480 = overview
opentext.displayUrl.objAction.483 = browse
opentext.displayUrl.objAction.899 = browse
opentext.displayUrl.objAction.Alias = properties
opentext.displayUrl.objAction.Category = properties
opentext.displayUrl.objAction.Channel = ViewChannel
opentext.displayUrl.objAction.Collection = browse
opentext.displayUrl.objAction.CompoundDoc = browse
opentext.displayUrl.objAction.Discussion = view
opentext.displayUrl.objAction.Email = viewheader
opentext.displayUrl.objAction.EmailFolder = browse
opentext.displayUrl.objAction.EnterpriseWS = browse
opentext.displayUrl.objAction.Folder = browse
opentext.displayUrl.objAction.Generation = open
opentext.displayUrl.objAction.Milestone = BrowseMilestone
opentext.displayUrl.objAction.News = ViewNews
opentext.displayUrl.objAction.Project = browse
opentext.displayUrl.objAction.Reply = view
opentext.displayUrl.objAction.Task = BrowseTask
opentext.displayUrl.objAction.TaskGroup = BrowseTaskGroup
opentext.displayUrl.objAction.TaskList = BrowseTaskList
opentext.displayUrl.objAction.Topic = view
